<div fxLayoutAlign="center center" fxLayout="column">
    <h1>Iris Model - Example</h1>

    <div class="home__training">
        <h3>Train Classification Model (Support Vector Machine)</h3>
        <md-card fxLayoutAlign="center center" fxLayout="column">
            <h4>Set Parameter for Model Training</h4>
            <md-input-container>
                <input
                    mdInput
                    name="C Parameter"
                    placeholder="C Parameter"
                    [(ngModel)]="svcParameters.C"
                />
            </md-input-container>
            <button md-raised-button (click)="trainModel()">
                Train model
            </button>
        </md-card>

        <div *ngIf="svcResult" fxLayoutAlign="center center" fxLayout="column">
            <h4>Training Accuracy</h4>
            <ngx-charts-linear-gauge
                [view]="[300, 100]"
                [value]="svcResult.accuracy"
                [scheme]="colorScheme"
                [min]="0"
                [max]="100"
                [units]="'% accuracy'"
            >
            </ngx-charts-linear-gauge>
        </div>
    </div>

    <div
        class="home__prediction"
        fxLayoutAlign="center center"
        fxLayout="column"
    >
        <h3>Predict Iris classes</h3>

        <md-card fxLayoutAlign="center center" fxLayout="column">
            <h4>Define Iris</h4>
            <div fxLayout="row">
                <md-input-container>
                    <input
                        mdInput
                        name="Sepal width"
                        placeholder="Sepal width"
                        [(ngModel)]="iris.sepalWidth"
                    />
                </md-input-container>
                <md-input-container>
                    <input
                        mdInput
                        name="Sepal length"
                        placeholder="Sepal length"
                        [(ngModel)]="iris.sepalLength"
                    />
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input
                        mdInput
                        name="Petal width"
                        placeholder="Petal width"
                        [(ngModel)]="iris.petalWidth"
                    />
                </md-input-container>
                <md-input-container>
                    <input
                        mdInput
                        name="Petal length"
                        placeholder="Petal length"
                        [(ngModel)]="iris.petalLength"
                    />
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input
                        mdInput
                        name="Loan Amount"
                        placeholder="Loan Amount"
                        [(ngModel)]="loan.loanAmount"
                    />
                </md-input-container>
                <md-input-container>
                    <input
                        mdInput
                        name="Funded Amount"
                        placeholder="Funded Amount"
                        [(ngModel)]="loan.fundedAmount"
                    />
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input
                        mdInput
                        name="Funded Amount Investors"
                        placeholder="Funded Amount Investors"
                        [(ngModel)]="loan.fundedAmountInvestors"
                    />
                </md-input-container>
                <md-input-container>
                    <input
                        mdInput
                        name="Installment"
                        placeholder="Installment"
                        [(ngModel)]="loan.installment"
                    />
                </md-input-container>
            </div>
            <div>
                <button md-raised-button (click)="predictIris()">
                    Predict iris
                </button>
            </div>
        </md-card>

        <!-- 'loan_amnt', u'funded_amnt', u'funded_amnt_inv',
       u'installment', u'annual_inc', u'dti', u'delinq_2yrs',
       u'inq_last_6mths', u'open_acc', u'pub_rec', u'revol_bal', u'total_acc',
       u'out_prncp', u'out_prncp_inv', u'total_pymnt', u'total_pymnt_inv',
       u'total_rec_prncp', u'total_rec_int', u'total_rec_late_fee',
       u'last_pymnt_amnt', u'collections_12_mths_ex_med', u'policy_code',
       u'acc_now_delinq', u'chargeoff_within_12_mths', u'delinq_amnt',
       u'pub_rec_bankruptcies', u'tax_liens' -->

        <div
            *ngIf="probabilityPredictions"
            fxLayoutAlign="center center"
            fxLayout="column"
            class="home__chart-container"
        >
            <h4>Prediction Result</h4>
            <ngx-charts-pie-chart
                [results]="probabilityPredictions"
                [scheme]="colorScheme"
                [labels]="true"
                [legend]="true"
            >
            </ngx-charts-pie-chart>
        </div>
    </div>
</div>
