<div fxLayoutAlign="center center" fxLayout="column">
    <h1>Loan Prediction</h1>

    <!-- <div class="home__training">
        <h3>Train Classification Model (Support Vector Machine)</h3>
        <md-card fxLayoutAlign="center center" fxLayout="column">
            <h4>Set Parameter for Model Training</h4>
            <md-input-container>
                <input
                    mdInput
                    name="C Parameter"
                    placeholder="C Parameter"
                    [(ngModel)]="svcParameters.C"
                />
            </md-input-container>
            <button md-raised-button (click)="trainModel()">
                Train model
            </button>
        </md-card>

        <div *ngIf="svcResult" fxLayoutAlign="center center" fxLayout="column">
            <h4>Training Accuracy</h4>
            <ngx-charts-linear-gauge
                [view]="[300, 100]"
                [value]="svcResult.accuracy"
                [scheme]="colorScheme"
                [min]="0"
                [max]="100"
                [units]="'% accuracy'"
            >
            </ngx-charts-linear-gauge>
        </div>
    </div> -->

    <div
        class="home__prediction"
        fxLayoutAlign="center center"
        fxLayout="column"
    >
        <!-- <h3>Predict Loan Class</h3> -->

        <md-card fxLayoutAlign="center center" fxLayout="column">
            <h4>Define Parameters</h4>
            <div fxLayout="row">
                <md-input-container>
                    <input
                        mdInput
                        name="loan_amnt"
                        placeholder="loan_amnt"
                        [(ngModel)]="loan.loan_amnt"
                    />
                </md-input-container>
                <md-input-container>
                    <input
                        mdInput
                        name="funded_amnt"
                        placeholder="funded_amnt"
                        [(ngModel)]="loan.funded_amnt"
                    />
                </md-input-container>
                <md-input-container>
                    <input
                        mdInput
                        name="funded_amnt_inv"
                        placeholder="funded_amnt_inv"
                        [(ngModel)]="loan.funded_amnt_inv"
                    />
                </md-input-container>
                <md-input-container>
                    <input
                        mdInput
                        name="Installment"
                        placeholder="Installment"
                        [(ngModel)]="loan.installment"
                    />
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input
                        mdInput
                        name="annual_inc"
                        placeholder="annual_inc"
                        [(ngModel)]="loan.annual_inc"
                    />
                </md-input-container>
                <md-input-container>
                    <input
                        mdInput
                        name="dti"
                        placeholder="dti"
                        [(ngModel)]="loan.dti"
                    />
                </md-input-container>
                <md-input-container>
                    <input
                        mdInput
                        name="delinq_2yrs"
                        placeholder="delinq_2yrs"
                        [(ngModel)]="loan.delinq_2yrs"
                    />
                </md-input-container>
                <md-input-container>
                    <input
                        mdInput
                        name="inq_last_6mths"
                        placeholder="inq_last_6mths"
                        [(ngModel)]="loan.inq_last_6mths"
                    />
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input
                        mdInput
                        name="open_acc"
                        placeholder="open_acc"
                        [(ngModel)]="loan.open_acc"
                    />
                </md-input-container>
                <md-input-container>
                    <input
                        mdInput
                        name="pub_rec"
                        placeholder="pub_rec"
                        [(ngModel)]="loan.pub_rec"
                    />
                </md-input-container>
                <md-input-container>
                    <input
                        mdInput
                        name="revol_bal"
                        placeholder="revol_bal"
                        [(ngModel)]="loan.revol_bal"
                    />
                </md-input-container>
                <md-input-container>
                    <input
                        mdInput
                        name="total_acc"
                        placeholder="total_acc"
                        [(ngModel)]="loan.total_acc"
                    />
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input
                        mdInput
                        name="out_prncp"
                        placeholder="out_prncp"
                        [(ngModel)]="loan.out_prncp"
                    />
                </md-input-container>
                <md-input-container>
                    <input
                        mdInput
                        name="out_prncp_inv"
                        placeholder="out_prncp_inv"
                        [(ngModel)]="loan.out_prncp_inv"
                    />
                </md-input-container>
                <md-input-container>
                    <input
                        mdInput
                        name="total_pymnt"
                        placeholder="total_pymnt"
                        [(ngModel)]="loan.total_pymnt"
                    />
                </md-input-container>
                <md-input-container>
                    <input
                        mdInput
                        name="total_pymnt_inv"
                        placeholder="total_pymnt_inv"
                        [(ngModel)]="loan.total_pymnt_inv"
                    />
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input
                        mdInput
                        name="total_rec_prncp"
                        placeholder="total_rec_prncp"
                        [(ngModel)]="loan.total_rec_prncp"
                    />
                </md-input-container>
                <md-input-container>
                    <input
                        mdInput
                        name="total_rec_int"
                        placeholder="total_rec_int"
                        [(ngModel)]="loan.total_rec_int"
                    />
                </md-input-container>
                <md-input-container>
                    <input
                        mdInput
                        name="total_rec_late_fee"
                        placeholder="total_rec_late_fee"
                        [(ngModel)]="loan.total_rec_late_fee"
                    />
                </md-input-container>
                <md-input-container>
                    <input
                        mdInput
                        name="last_pymnt_amnt"
                        placeholder="last_pymnt_amnt"
                        [(ngModel)]="loan.last_pymnt_amnt"
                    />
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input
                        mdInput
                        name="collections_12_mths_ex_med"
                        placeholder="collections_12_mths_ex_med"
                        [(ngModel)]="loan.collections_12_mths_ex_med"
                    />
                </md-input-container>
                <md-input-container>
                    <input
                        mdInput
                        name="policy_code"
                        placeholder="policy_code"
                        [(ngModel)]="loan.policy_code"
                    />
                </md-input-container>
                <md-input-container>
                    <input
                        mdInput
                        name="acc_now_delinq"
                        placeholder="acc_now_delinq"
                        [(ngModel)]="loan.acc_now_delinq"
                    />
                </md-input-container>
                <md-input-container>
                    <input
                        mdInput
                        name="chargeoff_within_12_mths"
                        placeholder="chargeoff_within_12_mths"
                        [(ngModel)]="loan.chargeoff_within_12_mths"
                    />
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input
                        mdInput
                        name="delinq_amnt"
                        placeholder="delinq_amnt"
                        [(ngModel)]="loan.delinq_amnt"
                    />
                </md-input-container>
                <md-input-container>
                    <input
                        mdInput
                        name="tax_liens"
                        placeholder="tax_liens"
                        [(ngModel)]="loan.tax_liens"
                    />
                </md-input-container>
            </div>
            <div>
                <button md-raised-button (click)="predictLoan()">
                    Predict loan
                </button>
            </div>
        </md-card>

        <div
            *ngIf="probabilityPredictions"
            fxLayoutAlign="center center"
            fxLayout="column"
            class="home__chart-container"
        >
            <h4>Chance of Being Paid</h4>
            <ngx-charts-linear-gauge
                [view]="[400, 400]"
                [scheme]="colorScheme"
                [value]="probabilityPredictions"
                [min]="0"
                [max]="1"
                [units]="''"
                (select)="onSelect($event)"
            >
            </ngx-charts-linear-gauge>
        </div>
    </div>
</div>
